[Desktop Entry]
Type=Application
Name=mitsuami showcase
Comment=Every mitsuami example in one window
Exec=showcase
Icon=br.com.roboport.mitsuami.Showcase
Categories=Development;
